{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block content %}
<h2>ID・パスワード入力</h2>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  <label>メールアドレス</label>
  <span id="user_id_validation_msg"></span>
  <div>
    {{ form.login }}
  </div>
  <label>パスワード</label>
  <span id="password_validation_msg"></span>
  <div>
    {{ form.password }}
  </div>
  <div>
    <label>ログインしたままにする</label>
    <span></span>
      {{ form.remember }}
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <!--
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">"Forgot Password?</a>
  -->
  <button class="primaryAction" type="submit">ログイン</button>
</form>
{% endblock %}
