.clearfix:after{
  content: "";
  display: block;
  clear: both;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #111;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: #111;
  text-decoration: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

header{
  margin: 0 auto;
  padding:0 20px;
  color: #fff;
  background: #3c3;
}

header a{
  color: #fff;
}


.header__inner{
}

.header__inner h1{
  font-size: 2rem;
  float: left;
  margin-block-start: 0;
  margin-block-end: 0;
}

#nav__toggle{
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  top: 4px;
  z-index: 100;
  float: right;
}
#nav__toggle div {
  position: relative;
}
#nav__toggle span{
  display: block;
  height: 3px;
  background: #fff;
  position:absolute;
  width: 100%;
  left: 0;
  -webkit-transition: 0.2s ease-in-out;
  -moz-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}
#nav__toggle span:nth-child(1){
  top:6px;
}
#nav__toggle span:nth-child(2){
  top:18px;
}
#nav__toggle span:nth-child(3){
  top:30px;
}

.open #nav__toggle span:nth-child(1) {
  top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
  transform: rotate(135deg);
}
.open #nav__toggle span:nth-child(2) {
  width: 0;
  left: 50%;
}
.open #nav__toggle span:nth-child(3) {
  top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

nav{
  display: none;
}

nav ul{
  float: right;
  margin-right: 5%;
}

nav a{
  color: #fff;
}

main{
  margin: 0 auto;
  padding:0 20px;
}

.postGroup__wrap{
  padding: 0 2%;
}

.post__wrap{
  box-shadow: 5px 10px 20px #CCC;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 1rem;
  padding: 1rem;
}

.post__text{
  font-size: 20px;
  word-break : break-all;
}

.post__edit{
  text-align: right;
}
